form label,input {
    margin-left: 10px;
    color: $font-color-primary;
    font-size: $font-size-default;
    font-family: $font-default;
    
}
.nome_form{
        
        font-size: 2rem;
        color:$font-color-primary;
        text-align: left;
        width: 100%;
        float: left;
}
.email_form{
        
        font-size: 2rem;
        color:$font-color-primary;
        text-align: left;
        width: 100%;
        float: left;
}